{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set enableLanguageSelect         = widget.settings.enableLanguageSelect.mobile %}
{% set enableShippingCountrySelect  = widget.settings.enableShippingCountrySelect.mobile %}
{% set enableCurrencySelect         = widget.settings.enableCurrencySelect.mobile %}
{% set enableLogin                  = widget.settings.enableLogin.mobile %}
{% set enableRegistration           = widget.settings.enableRegistration.mobile %}
{% set enableWishList               = widget.settings.enableWishList.mobile %}
{% set enableBasketPreview          = widget.settings.enableBasketPreview.mobile %}
{% set basketValues                 = widget.settings.basketValues.mobile %}
{% set showItemImages               = widget.settings.showItemImages.mobile %}
{% set forwardToSingleItem          = widget.settings.forwardToSingleItem.mobile %}
{% set companyLogoUrl               = widget.settings.companyLogoUrl.mobile %}
{% set navigationStyle              = widget.settings.navigationStyle.mobile %}
{% set megaMenuCategoryIds          = widget.settings.megaMenuCategoryIds.mobile | split(",") %}
{% set megaMenuLevels               = widget.settings.megaMenuLevels.mobile %}
{% set showOnHomepage               = widget.settings.showOnHomepage.mobile %}
{% set showOnMyAccount              = widget.settings.showOnMyAccount.mobile %}
{% set showOnCheckout               = widget.settings.showOnCheckout.mobile %}
{% set showOnContentCategory        = widget.settings.showOnContentCategory.mobile %}


{{ Twig.import("LayoutContainer", "Ceres::PageDesign.Macros.LayoutContainer") }}
{{ Twig.set("currencyFormat", Twig.call("config", ["Ceres.currency.format"])) }}
{{ Twig.set("currencyFormatSelect", Twig.call("config", ["Ceres.currency.format_selection"])) }}
{{ Twig.set("currencyData", Twig.call("services.checkout.getCurrencyData") ~ "[currencyFormat]") }}
{{ Twig.set("enabledRoutes", Twig.call("config", ["IO.routing.enabled_routes"]) ~ " | split(\", \")") }}
{{ Twig.set("basketPreviewType", Twig.call("config", ["Ceres.basket.preview_type"])) }}
{{ Twig.set("activeCurrencies", Twig.call("config", ["Ceres.currency.available_currencies"]) ~ " | split(\", \")") }}
{{ Twig.set("defaultLanguage", Twig.call("services.webstoreConfig.getDefaultLanguage")) }}
{{ Twig.set("overrideSearchBar", Twig.call("LayoutContainer.show", ["Ceres::Search.SearchBar"])) }}


{% if companyLogoUrl is empty %}
    {% set companyLogoUrl = plugin_path('Ceres') ~ "/images/ceres-logo.svg" %}
{% endif %}


<div class="dia-header header-fw unfixed">
    {% if enableLanguageSelect or enableShippingCountrySelect or enableCurrencySelect %}
        <div class="dia-top-bar">
            <div class="dia-top-bar__container container-max">
                {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::Header.LeftSide"])) }}
                <ul id="controlsList" class="dia-top-bar__list">
                    {% if enableLanguageSelect or enableShippingCountrySelect %}
                        <li class="dia-top-bar__list-item dia-top-bar__list-item--country">
                            <a data-toggle="collapse"
                               href="#countrySettings"
                               aria-expanded="false"
                               aria-controls="countrySettings"
                               data-parent="#controlsList">
                                <i class="flag-icon flag-icon-{{ Twig.print('lang') }}"></i>
                            </a>
                        </li>
                    {% endif %}

                    {% if enableCurrencySelect %}
                        <li class="dia-top-bar__list-item dia-top-bar__list-item--languages">
                            <a class=""
                               data-toggle="collapse"
                               href="#currencySelect"
                               aria-expanded="false"
                               aria-controls="currencySelect"
                               data-parent="#controlsList">
                                <span>{{ Twig.print("currencyData") }}</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="container-max page-header">
                <div class="row">
                    {% if enableCurrencySelect %}
                        <div id="currencySelect" class="cmp cmp-currency-select collapse">
                            <div class="container-max">
                                <div class="row py-3">

                                    <div class="currency-list col-12">
                                        <div class="list-title">
                                            <strong>{{ Twig.print('trans("Ceres::Template.headerCurrency")') }}</strong>
                                            <hr>
                                        </div>
                                        <ul class="text-center text-sm-left">
                                            {{ Twig.set("activeCurrency", Twig.call("services.checkout.getCurrencyData().name")) }}
                                            {{ Twig.for("currency", Twig.call("services.checkout.getCurrencyList")) }}
                                            {{ Twig.if("currency.name in activeCurrencies or \"all\" in activeCurrencies or currency.name == activeCurrency") }}
                                            <li{{ Twig.if("currency.name == activeCurrency") }}
                                                    class="active"{{ Twig.endif() }}>
                                                <a href="{{ Twig.print("queryString({currency: currency.name})") }}"
                                                   rel="nofollow">
                                                    {{ Twig.if("currencyFormatSelect == 'all'") }}
                                                    {{ Twig.print("currency.name") }} <br
                                                            class="d-block d-sm-none"/>({{ Twig.print("currency.symbol") }})
                                                    {{ Twig.else() }}
                                                    {{ Twig.print("currency[currencyFormatSelect]") }}
                                                    {{ Twig.endif }}
                                                </a>
                                            </li>
                                            {{ Twig.endif() }}
                                            {{ Twig.endfor() }}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if enableLanguageSelect or enableShippingCountrySelect %}
                        <div id="countrySettings" class="cmp cmp-country-settings collapse">
                            <div class="container-max">
                                <div class="row py-3">
                                    {% if enableLanguageSelect %}
                                        <div class="col-12 {% if enableShippingCountrySelect %}col-lg-6{% else %}col-lg-12{% endif %}">

                                            <div class="language-settings">
                                                <div class="list-title">
                                                    <strong>{{ Twig.print('trans("Ceres::Template.headerSelectLanguage")') }}</strong>
                                                    <hr>
                                                </div>

                                                {{ Twig.set("languageList", Twig.call("services.webstoreConfig.getActiveLanguageList")) }}
                                                {{ Twig.set("languageUrls", Twig.call("services.url.getLanguageURLs")) }}
                                                <ul>
                                                    {{ Twig.for("language", "languageList") }}
                                                    <li{{ Twig.if("lang == language") }} class="active"{{ Twig.endif() }}>
                                                        {{ Twig.set("url", "'/'") }}
                                                        {{ Twig.if("languageUrls[language] is defined") }}
                                                        {{ Twig.set("url", "languageUrls[language] ~ queryString") }}
                                                        {{ Twig.elseif("language != defaultLanguage") }}
                                                        {{ Twig.set("url", "'/' ~ language ~ urls.trailingSlashSuffix") }}
                                                        {{ Twig.endif() }}
                                                        <a href="{{ Twig.print("url") }}" data-update-url>
                                                            <i class="flag-icon flag-icon-{{ Twig.print("language") }}"></i>
                                                            {{ Twig.print('trans("Ceres::Template.header" ~ language | capitalize)') }}
                                                        </a>
                                                    </li>
                                                    {{ Twig.endfor() }}
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if enableShippingCountrySelect %}
                                        <div class="col-12 {% if enableLanguageSelect %}col-lg-6{% else %}col-lg-12{% endif %}">
                                            <div class="shipping-settings">
                                                <div class="list-title">
                                                    <strong>{{ Twig.print('trans("Ceres::Template.headerSelectShippingCountry")') }}</strong>
                                                    <hr>
                                                </div>
                                                <shipping-country-select
                                                        :disable-input="{{ Twig.print(Twig.call('services.template.isCheckout') ~ ' | json_encode') }}"></shipping-country-select>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="dia-shop-nav">
        <div class="dia-shop-nav__container container-max">
            <div class="dia-shop-nav__row">
                <div class="col-12 col-md-3 col-lg-4">
                    <a class="dia-shop-nav__logo-link" href="{{ Twig.print('urls.home') }}">
                        <img alt="{{ Twig.print('trans("Ceres::Template.headerCompanyName")') }}" src="{{ companyLogoUrl }}"
                             class="dia-shop-nav__logo"/>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-4 d-none d-md-block">
                    {{ Twig.if("overrideSearchBar | trim is empty") }}
                    <div class="dia-shop-nav__search-wrapper">
                        <item-search template="#vue-item-search"
                                     :show-item-images="{{ showItemImages | json_encode }}"
                                     :forward-to-single-item="{{ forwardToSingleItem | json_encode }}">
                            <div class="search-box-inner">
                                <div class="search-box-shadow-frame">
                                    <input type="search" class="search-input"/>
                                    <button class="search-submit" type="submit">
                                        <i class="fa fa-search sm-up"></i>
                                    </button>
                                </div>
                            </div>
                        </item-search>
                    </div>
                    {{ Twig.else() }}
                    {{ Twig.print("overrideSearchBar | raw") }}
                    {{ Twig.endif() }}
                </div>
                <div class="col-12 col-md-5 col-lg-4">
                    <ul class="dia-controls-list">
                        <li class="dia-controls-list__item--m-menu">
                            <button v-open-mobile-navigation class="dia-controls-list__item dia-navbar__toggle d-lg-none" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                            </button>
                        </li>
                        <li class="dia-controls-list__item dia-controls-list__item--search control-search">
                            <a aria-label="toggle search"
                               data-toggle="collapse"
                               href="#searchBox"
                               aria-expanded="false"
                               aria-controls="searchBox">
                                <i aria-hidden="true" class="fa fa-search"></i>
                            </a>
                        </li>
                        {% if enableWishList %}
                            {{ Twig.if("\"wish-list\" in enabledRoutes or \"all\" in enabledRoutes") }}
                            <li class="dia-controls-list__item dia-controls-list__item--wish">
                                <wish-list-count>
                                    <a>
                                        <span class="badge-right">0</span>
                                        <i aria-hidden="true" class="fa fa-heart-o"></i>
                                    </a>
                                </wish-list-count>
                            </li>
                            {{ Twig.endif() }}
                        {% endif %}

                        {% if enableLogin %}
                            <li class="dia-controls-list__item dia-controls-list__item--login dropdown">
                                <user-login-handler :show-registration="{{ enableRegistration | json_encode }}">
                                    <div class="dropdown">
                                        <a href="#" class="" id="accountMenuList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-boundary="window">
                                            <i aria-hidden="true" class="fa fa-user"></i>
                                        </a>
                                    </div>
                                </user-login-handler>
                            </li>
                        {% endif %}

                        {% if enableBasketPreview %}
                            <li class="dia-controls-list__item dia-controls-list__item--basket">
                                <a v-toggle-basket-preview href="#" class="toggle-basket-preview" @mouseover.once="$store.dispatch('loadComponent', 'basket-preview')">
                                    {% if basketValues != "sum" %}
                                        <span class="badge-right"
                                              v-basket-item-quantity="$store.state.basket.data.itemQuantity">0</span>
                                    {% endif %}

                                    <i v-waiting-animation="$store.state.basket.isBasketLoading"
                                       waiting-class="fa fa-refresh fa-spin" class="fa fa-shopping-cart"
                                       aria-hidden="true"></i>
                                    {% if basketValues != "quantity" %}
                                        <span v-if="!$store.state.basket.showNetPrices"
                                              v-basket-item-sum="$store.state.basket.data.itemSum">0,00 {{ Twig.print("currencyData") }}</span>
                                        <span v-else v-cloak
                                              v-basket-item-sum="$store.state.basket.data.itemSumNet">0,00 {{ Twig.print("currencyData") }}</span>
                                    {% endif %}
                                </a>

                                {{ Twig.if("basketPreviewType != \"right\"") }}


                                <lazy-load component="basket-preview">
                                    <basket-preview :show-net-prices="{{ Twig.print("showNetPrices | json_encode") }}">
                                        <template #before-basket-item>
                                            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.BeforeItem"])) }}
                                        </template>
                                        <template #loading-animation>
                                            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.LoadingAnimation"])) }}
                                        </template>
                                        <template #after-basket-item>
                                            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.AfterItem"])) }}
                                        </template>
                                        <template #before-basket-totals>
                                            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.BeforeBasketTotals"])) }}
                                        </template>
                                        <template #before-item-sum>
                                            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.BeforeItemSum"])) }}
                                        </template>
                                        <template #after-item-sum>
                                            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.AfterItemSum"])) }}
                                        </template>
                                        <template #before-shipping-costs>
                                            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.BeforeShippingCosts"])) }}
                                        </template>
                                        <template #after-shipping-costs>
                                            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.AfterShippingCosts"])) }}
                                        </template>
                                        <template #before-total-sum>
                                            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.BeforeTotalSum"])) }}
                                        </template>
                                        <template #before-vat>
                                            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.BeforeVat"])) }}
                                        </template>
                                        <template #after-vat>
                                            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.AfterVat"])) }}
                                        </template>
                                        <template #after-total-sum>
                                            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.AfterTotalSum"])) }}
                                        </template>
                                        <template #after-basket-totals>
                                            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.AfterBasketTotals"])) }}
                                        </template>
                                        <template #before-checkout-button>
                                            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.BeforeCheckoutButton"])) }}
                                        </template>
                                        <template #after-checkout-button>
                                            {{ Twig.print(Twig.call("LayoutContainer.show", ["Ceres::BasketList.AfterCheckoutButton"])) }}
                                        </template>
                                    </basket-preview>
                                </lazy-load>
                            </li>
                                {{ Twig.endif() }}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{ Twig.import("Tree", "Waldorfshop2::Category.Macros.CategoryTree") }}
    <div class="container-max page-header">
        <div class="row">
            <div id="searchBox" class="cmp cmp-search-box collapse">
                {{ Twig.if("overrideSearchBar | trim is empty") }}
                    <item-search
                            :show-item-images="{{ showItemImages | json_encode }}"
                            :forward-to-single-item="{{ forwardToSingleItem | json_encode }}"></item-search>
                {{ Twig.else() }}
                    {{ Twig.print("overrideSearchBar | raw") }}
                {{ Twig.endif() }}
            </div>
        </div>
    </div>
    <nav class="dia-navbar__wrapper">
        <div class="dia-navbar__container container-max">
            {# #TODO: Active Class fehlt bei den Menüpunkten #}
            <ul class="dia-navbar">
                {{ Twig.print(Twig.call("Tree.get_nav_bar", [Twig.var("categories"), "", megaMenuLevels, megaMenuCategoryIds])) }}
            </ul>
        </div>
    </nav>
    {{ Twig.if("services.template.isCurrentTemplate('tpl.category.content')
     or services.template.isCurrentTemplate('tpl.category.item ')
     or services.template.isCurrentTemplate('tpl.category.blog')
     or services.template.isCurrentTemplate('tpl.category.container')
     or services.template.isCurrentTemplate('tpl.item')
     or services.template.isCurrentTemplate('tpl.contact')
     or services.template.isCurrentTemplate('tpl.search ')")}}
    <div class="breadcrumbs">
        <nav class="small hidden-sm-down px-0" data-component="breadcrumbs" data-renderer="twig">
            {{ Twig.set('crumbs', '[]') }}
            <ul class="breadcrumb container-max">
                <li class="breadcrumb-item">
                    <a href="{{ Twig.print('urls.home') }}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        {{ Twig.set('crumb', '
                        [
                            {
                                "@type": "ListItem",
                                "position": 1,
                                "item":
                                {
                                    "@id": urls.home,
                                    "name": "Home"
                                }
                            }
                        ]')
                        }}
                        {{ Twig.set('crumbs', 'crumbs | merge(crumb)') }}
                    </a>
                </li>
                {{ Twig.if("categoryBreadcrumbs is not empty") }}
                {{ Twig.set("break", "false") }}
                {{ Twig.set("catLevel", 2) }}
                {{ Twig.for("category", "categoryBreadcrumbs[:categoryBreadcrumbs | length - 1]", "not break") }}
                {{ Twig.if("category.details[0]") }}
                <li class="breadcrumb-item">
                    <a href="{{ Twig.print(Twig.call("services.category.getURLById", [Twig.var("category.id")])) }}">
                        {{ Twig.print("category.details[0].name") }}
                    </a>
                    {{ Twig.set('crumb', '
                                [
                                    {
                                        "@type": "ListItem",
                                        "position": catLevel,
                                        "item":
                                        {
                                            "@id": services.category.getURLById(category.id),
                                            "name": category.details[0].name
                                        }
                                    }
                                ]')
                    }}
                    {{ Twig.set('crumbs', 'crumbs | merge(crumb)') }}
                    {{ Twig.do("set catLevel = catLevel + 1") }}
                </li>
                {{ Twig.else() }}
                {{ Twig.set("break", "true") }}
                {{ Twig.endif() }}
                {{ Twig.endfor() }}

                {{ Twig.set("lastCategory", "categoryBreadcrumbs | last") }}
                {{ Twig.if("lastCategory.details is defined") }}
                <li class="breadcrumb-item active"><span>{{ Twig.print("lastCategory.details[0].name") }}</span></li>
                {{ Twig.elseif("item.documents[0].data is defined") }}
                <li class="breadcrumb-item active">
                    <span>{{ Twig.print("item.documents[0].data | itemName") }}</span>
                </li>
                {{ Twig.endif() }}
                {{ Twig.endif() }}
            </ul>
            <script type="application/ld+json">
        {
            "@context":"http://schema.org/",
            "@type":"BreadcrumbList",
            "itemListElement": {{ Twig.print('crumbs | json_encode | raw') }}
        }
        </script>
        </nav>
    </div>
    {{ Twig.endif() }}
</div>
