{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set hasEntries    = false %}
{% set displayInline = widget.settings.displayInline.mobile %}

{% for entry in listEntries if entry.text is not empty %}
    {% set hasEntries = true %}
{% endfor %}

{% if hasEntries %}
    <div class="dia-footer-list">
    {% if listEntries | length > 0 %}
        <ul class="dia-footer-list__ul {% if displayInline %}dia-footer-list__ul--inline{% endif %}">
            {% for entry in listEntries %}
                {{ WidgetHelper.setUrlVariable('url', entry.url.value, entry.url.type) }}
                <li class="dia-footer-list__li">
                    {% if entry.text is not empty %}
                        <a class="dia-footer-list__link"{% if entry.url.openInNewTab == true %} target="_blank"{% endif %}{% if entry.url.type == 'external' %} rel="noopener"{% endif %}{{ Twig.if("url | trim is not empty") }} href="{{ Twig.print("url") }}"{{ Twig.endif() }}>
                            {{ entry.text }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endif %}
